Package: python-hsn2-lib
Version: {VER}
Section: unknown
Priority: optional
Architecture: all
Depends: python-hsn2-proto
Maintainer: Wojciech Michalak (wojciech.michalak@nask.pl)
Description: HSN2 python common modules.
Distribution: {DEBIAN_DIST}
